@model Department

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete Department</h2>
    </div>

    <form method="post" asp-action="DeleteDept">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="DepartmentCode">Department Code</label>
                <input type="text" class="form-control mb-3" asp-for="DepartmentCode" placeholder="Enter Department Code">
                <span asp-validation-for="DepartmentCode" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DepartmentName">Department Name</label>
                <input type="text" class="form-control mb-3" asp-for="DepartmentName" placeholder="Enter Department Name">
                <span asp-validation-for="DepartmentName" class=" alert-danger"></span>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Description">Description</label>
                <input type="text" class="form-control mb-3" asp-for="Description" placeholder="Enter Description">
                <span asp-validation-for="Description" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Remarks">Remarks</label>
                <input type="text" class="form-control mb-3" asp-for="Remarks" placeholder="Enter Remarks">
                <span asp-validation-for="Remarks" class=" alert-danger"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Delete</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }